@page "/casino"
@inject HttpClient Http

  <div class="container">
  <div class="row">
    <div class="col">
      	<h2>  <br> <strong class="b_bold"> <font color="black">Slot  </font>   </strong></h2>
		
		  
		  

		 <div class="container">
			 <div class="row">
				<div class="col">
					 <h2>    <font color= "white">premi su questo pulsante per giocare alla slot machine</font>  </h2>
		 
	 
				</div>
  
			 <div class="col">
			 <h2>             <figure><img src="images/ale.jfif" /></figure></h2>
		 
	 
			</div>

			</div>
     
		</div>
 
		  
		  
		  
		


    </div>
    <div class="col">


     <h2>  <br> <strong class="b_bold"> <font color="black">Roulette</font>   </strong></h2>	
	 
	  <div class="container">
			 <div class="row">
				<div class="col">
					 <h2>    <font color= "white"> Premi   <NavLink href="roulette">QUI</NavLink> per giocare alla roulette </font>  </h2>
	 
				</div>
  
			 <div class="col">
			 <h2>             </h2>
		 
	 
			</div>

			</div>
     
		</div>





    </div>
     
  </div>
</div>
