@page "/"
@layout LoginLayout 
<PageTitle>Home</PageTitle>
   
                <div class="banner_main">

                    <div class="container">

                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
                                <div class="text-bg">
                                    <h1><font color="white">Benvenuti al</font>   <br> <strong class="b_bold"> <font color="white">  Casinò TBFP</font>   </strong></h1>
                                    <span> <font color="white">Slot e roulette </font> </span>
                                    <NavLink href="a">Registrati</NavLink> <NavLink href="login">Log In</NavLink> <NavLink href="eu">Elenco utenti</NavLink>
                                </div>
                            </div>
                             <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="text-img">
                                    <figure><img src="images/img.png" /></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
