	@page "/info"
	@layout LoginLayout
	@inject NavigationManager Navigation
	@inject HttpClient Http


	<!--

	<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
		<div class="text-bg">
			<h1>  <br> <strong class="b_bold"> <font color="black">Triglia Alessandro</font>   </strong></h1>
			<h2>    <font color= "white">Il più bello di tutto il mondo nonchè designer e realizzatore di queste meravigliose interfacce</font> </strong></h2>
		 
			<h1>  <br> <strong class="b_bold"> <font color="black">Brunelli Edoardo</font>   </strong></h1>
			<h2>    <font color= "white"> Creatore Slot Machine </font> </strong></h2>

			<h1>  <br> <strong class="b_bold"> <font color="black">Pancera Nicola</font>   </strong></h1>
			<h2>    <font color= "white">Creatore storyboard </font> </strong></h2>

			<h1>  <br> <strong class="b_bold"> <font color="black">Ferrari Edoardo</font>   </strong></h1>
			<h2>    <font color= "white">Tester e giocatore professionista </font> </strong></h2>
		 
 


		</div>
	 

	</div>
	 -->
	<div class="container">
	  <div class="row">
		<div class="col-xl-3 col-lg-12 col-md-6 col-sm-12 ">
      		<h2>  <br>   <font color="black">Triglia Alessandro</font>  </h2>
		
			   <div class="container">
				 <div class="row">
						<div class="col">
							 <h2>    <font color= "white">Il più bello di tutto il mondo nonchè designer e realizzatore di queste meravigliose interfacce</font>  </h2>
		 
	 
						</div>
					</div>
				</div>

				<div class="container">
					 <div class="row">
			
						 <div class="col">
						 <h2>             <figure><img src="images/ale.jfif" /></figure></h2>
		 
	 
						</div>
					</div>
				</div>	

				</div>
     
	 

		<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 ">


		 <h2>  <br>   <font color="black">Brunelli Edoardo</font>    </h2>
 
		  <div class="container">
				 <div class="row">
					<div class="col">
						 <h2>    <font color= "white"> Creatore Slot Machine </font>  </h2>
	 
					</div>
				
					</div>
			</div>

				 <div class="container">
				 <div class="row">
				 <div class="col">
				 <h2>             <figure><img src="images/bru.jpg" /></figure> </h2>
		 
	 
				</div>

				</div>
     
			</div>





		</div>
     
	  <!--</div>-->
 




 
	  <!--<div class="row">-->
	   <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 ">
      		<h2>  <br>   <font color="black">Pancera Nicola</font>  </h2>				  	
			 <div class="container">
				 <div class="row">
					<div class="col">
						 <h2>    <font color= "white"> Creatore storyboard e assistente creazione interfaccia</font>  </h2>
		 
	 
					</div>
				</div>

			</div>

  
			<div class="container">
				 <div class="row">
					 <div class="col">
					 <h2>            <figure><img src="images/nic.jpg" /></figure></h2>
		 
	 
					</div>

				</div>
     
			</div>
 
		  		  		  		
		</div>

			<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 ">


			 <h2>  <br>   <font color="black">Ferrari Edoardo</font>   </h2>
	 
			  <div class="container">
					 <div class="row">
						<div class="col">
							 <h2>    <font color= "white">Tester e giocatore professionista </font> </h2>
	 
						</div>
					</div>
				</div>


						 <div class="container">
					 <div class="row">
  
					 <div class="col">
					 <h2>            <figure><img src="images/erasmo.jpg" /></figure>    </h2>
		 
	 
					</div>

					</div>
     
				</div>





			</div>

		</div>
	</div>
     
     
 






 