@page "/recensioni"
@layout LoginLayout
@inject NavigationManager Navigation
@inject HttpClient Http

 

 <div class="container">
  <div class="row">
  
	  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 ">
      	<h2>  <br>   <font color="black">Gianni Giannello</font>   </h2>
		
		  
		  

	 <div class="container">
			 <div class="row">

				 <div class="col">
			 <h2>             <figure><img src="images/5.jpg" /></figure></h2>
		 
	 
			</div>

				<div class="col">
					 <h2>    <font color= "white">Sinceramente ritengo sia un sito serio come tanti altri del settore. Si vince e si perde, va a fortuna e a casualità come giusto che sia. Io ho vinto qualcosina e mi hanno pagato senza problemi in pochi giorni.
											Potrebbe essere migliore la giocabilità da dispositivo mobile in quanto spesso si bloccano alcune slot. Ma nel complesso la loro serietà fa soprassedere al problema. </font>  </h2>
		 
	 
				  

			</div>
     
		</div>
 
		  
		  
		  
		


    </div>

	</div>

    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 ">


		 <h2>  <br>   <font color="black">   PierGeraldo Pieroni</font>    </h2>




	
	 
	  <div class="container">
			 <div class="row">

				 <div class="col">
			 <h2>             <figure><img src="images/5.jpg" /></figure></h2>
		 
	 
			</div>

				<div class="col">
					 <h2>    <font color= "white">TBFP casino e casino ottimo ripeto,con la grafica eccellente e vasta gamma di giochi per tutti i gusti,chi piace a giocare sa molto bene che deve accettare le perdite e non sparlare perché non vince ,io personalmente non ho avuto mai i problemi ho perso ho vinto sono stata accreditata quando vincevo e sul fine e questione di fortuna ragazzi. </font>  </h2>
	 
				</div>
  
			 

			</div>
     
		</div>





    </div>
     
 



 
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 ">
      	<h2>  <br>   <font color="black">Carlo Carloni</font>   </h2>				  	
			 <div class="container">
				 <div class="row">

					  <div class="col">
						<h2>  <figure><img src="images/5.jpg" /></figure></h2>
		 
	 
					</div>

					<div class="col">
						 <h2>    <font color= "white"> Leggo tutte ste recensioni e dico primo ogni volta che ho telefonato massimo e dico massimo due minuti d'attesa e rispondono ....due sono educatissimi e finché non risolvono il problema si scusano e fanno di tutto x risolverlo ....tre ho vinto un bonus da 6900 euro con 50 euro a una slot ...dovete immaginare che ci giocherà tutto il mondo quindi vi vuole tanta fortuna ...e poi leggo davvero recensioni che fanno ridere false e con TBFP non c'entro assolutamente nnte se non credete provate chiamate il numero assistenza e vi renderete conto della gentilezza e disponibilità del team di TBFP quando c'è vo c'è vo e che diamine</font>  </h2>
		 
	 
					</div>
  
					

				</div>
     
			</div>
 
		  		  		  		
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 ">


			<h2>  <br>   <font color="black">Ferrari Ferroso</font>    </h2>
	 
	  <div class="container">
			 <div class="row">

				 	<div class="col">
			 <h2>             <figure><img src="images/5.jpg" /></figure> </h2>
		 
	 
						</div>

				<div class="col">
					 <h2>    <font color= "white">TBFP e un ottimo sito per giocare,tentare di vincere, pagamenti in breve, giochi per ogni gusto, guardando le recensioni negative posso solo dire che bisogna abbassare le aspettative non aspettare che fai un jackpot subito perché neanche se giochi SuperEnalotto non vinci ...e questione di fortuna </font> </h2>
	 
				</div>

				

				</div>
     
		</div>





    </div>
     
  </div>
</div>
 



                <div class="banner_main">

                    <div class="container">

                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
                                <div class="text-bg">
                                    
                                    <NavLink href="AR">Aggiungi Recensione</NavLink> <NavLink href="er"> Elenco Recensioni</NavLink>  
                                 
                                 </div>    
                            </div>
                        </div>
                    </div>
                </div>









 