@page "/trovaci"
@layout LoginLayout
@inject NavigationManager Navigation
@inject HttpClient Http

<div class="container">
  <div class="row">
    <div class="col">
      	<h2>  <br> <strong class="b_bold"> <font color="black">Orari e Luogo </font>   </strong></h2>
		
	 
	  <div class="container">
			 <div class="row">
				<div class="col">
					
				 <figure><img src="images/sus.jfif" width="900" height="300"/> </figure>

				</div>
  
			 <div class="col">
			  
				 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d32460.910902260563!2d-115.33980840076059!3d36.17797312744161!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c8bf8bea2cc70d%3A0x99236d214c590476!2sRampart%20Casino!5e0!3m2!1sit!2sit!4v1655889682652!5m2!1sit!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	 
			</div>

			</div>
     
		</div>





    </div>
     
  </div>
</div>
