@inherits LayoutComponentBase


<section class="page">
    <header>
        <!-- header inner -->
         
        <div class="header-top">
            <div class="header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                            <div class="full">
                                <div class="center-desk">
                                    <div class="logo">
                                        <a href=""><img src="images/logo.png" alt="#" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                       <NavMenu />
                        </div>
                    </div>
                </div>
            </div>
            <!-- end header inner -->

            <!-- end header -->
             
        </div>
        
    </header>

    </section>





     



     <section class="slider_section">
   
            @Body
        </section>







<footr>
        <div class="footer top_layer ">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="location_section">
                            <ul class="loca">
                                <li>
                                    <a href="#"><img src="icon/1.png" alt="#" /></a>Casino@gmail.com </li>
                                <li>
                                    <a href="#"><img src="icon/2.png" alt="#" /></a>1234567890 </li>
                                <li>
                                    <a href="#"><img src="icon/3.png" alt="trovaci" /></a>Las Vegas </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 ">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                 <NavMenuFooter></NavMenuFooter>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="address">
                                    <h3>Links</h3>
                                    <ul class="Links_footer">
                                        <p>© 2019 All Rights Reserved.
                                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">    <font color="white">ERASMO</font> </a></p>

                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-12 ">
                                <div class="address">
                                    <h3>instagram </h3>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 pa_right hhh">
                                            <div class="insta_img">
                                                <figure><img src="images/f1.jpg" alt="#" /></figure>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 pa_right hhh">
                                            <div class="insta_img">
                                                <figure><img src="images/f2.jpg" alt="#" /></figure>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 pa_right hhh">
                                            <div class="insta_img">
                                                <figure><img src="images/f3.jpg" alt="#" /></figure>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 pa_right">
                                            <div class="insta_img">
                                                <figure><img src="images/f4.jpg" alt="#" /></figure>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 pa_right">
                                            <div class="insta_img">
                                                <figure><img src="images/f1.jpg" alt="#" /></figure>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 pa_right">
                                            <div class="insta_img">
                                                <figure><img src="images/f2.jpg" alt="#" /></figure>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                        <div class="address">
                            <h3>Subscribe to casino </h3>
                            <p>eniam, quis nostrud exercitation ullamco laboris ut aliquip ex ea commodo</p>
                            <input class="form-control" placeholder="Enter your email" type="type" name="Enter your email">
                            <button class="submit-btn">Subscribe</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="copyright">
                <div class="container">
                    <p>© 2019 All Rights Reserved. <a href="https://html.design/">Free html Templates</a></p>
                </div>
            </div>
        </div>
    </footr>
      
 
 
