     <div class="menu-area">
        <div class="limit-box">
            <nav class="main-menu">
                <ul class="menu-area-main">
                    <li class="active"> <NavLink href="">Home</NavLink> </li>
                    <li class="active"> <NavLink href="info">Info</NavLink> </li>
                    <li class="active"> <NavLink href="casino">Casino</NavLink> </li>
                    <li class="active"> <NavLink href="recensioni">Recensioni</NavLink> </li>
                    <li class="active"> <NavLink href="/trovaci">Trovaci</NavLink> </li>
                     
                </ul>
            </nav>
        </div>
    </div>






@code {
   // private bool collapseNavMenu = true;

  //  private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

   // private void ToggleNavMenu()
    //{
    //    collapseNavMenu = !collapseNavMenu;
  //  }
}
