   <div class="address">
                                    <h3>Menu</h3>
                                    <ul class="Menu_footer">
                                        <li class="active"> <NavLink href="index.html">Home</NavLink> </li>
                                        <li> <NavLink href="info">Info</NavLink> </li>
                                        <li> <NavLink href="casino">Casino</NavLink> </li>
                                        <li> <NavLink href="recensioni"> Recensioni</NavLink> </li>
                                        <li> <NavLink href="trovaci">Trovaci</NavLink> </li>
                                    </ul>
                                </div>

@code {
 //   private bool collapseNavMenu = true;
 //
 //   private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
 //
 //   private void ToggleNavMenu()
 //   {
 //       collapseNavMenu = !collapseNavMenu;
 //   }
}
